.fade {
  &-enter {
    opacity: 0 !important;
  }
  &-enter-active {
    opacity: 1 !important;
    transition: opacity 200ms;
  }
  &-enter-done {
    opacity: 1 !important;
  }
  &-exit {
    opacity: 1 !important;
  }
  &-exit-active {
    opacity: 0 !important;
    transition: opacity 200ms;
  }
}

.appbar-float {
  &-enter {
    top: -68px !important;
  }

  &-enter-active {
    top: 0px !important;
    transition: top 500ms;
  }

  &-enter-done {
    top: 0px !important;
  }
}

.appbar-animation {
  &-basic {
    opacity: 0;
    transition: opacity 0.5s;
  }
  &-fade-in {
    opacity: 1;
  }
}
