.appear {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 0ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 0ms;
  }
}

.fade {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }
}

.appbar-float-basic {
  position: fixed;
  left: 0px;
  width: 100%;
  z-index: 20040214;
}

.appbar-float {
  &-enter {
    .appbar-float-basic();
    top: -56px;
  }

  &-enter-active {
    .appbar-float-basic();
    top: 0px;
    transition: top 500ms;
  }

  &-enter-done {
    .appbar-float-basic();
    top: 0px;
  }
}
