.article-card {
  @media screen and (max-width: 599.5px) {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -32px;
    border-radius: 0px !important;
  }
}

.article-title {
  color: #404040;

  &-post {
    font-size: 1.5em !important;
    @media screen and (min-width: 900px) {
      font-size: 1.6em !important;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1.8em !important;
    }
  }

  &-doc {
    letter-spacing: 0.02938em !important;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.5em !important;
    @media screen and (min-width: 900px) {
      font-size: 1.7em !important;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2em !important;
    }
  }
}
