.article-card {
  @media screen and (max-width: 599.5px) {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -32px;
    border-radius: 0px !important;
  }
}

.article-title {
  font-weight: bold;
  color: #404040;
  margin-top: 0.5em;

  font-size: 1.2em;
  @media screen and (min-width: 1200px) {
    font-size: 1.8em;
  }
}
