html {
  overflow: hidden;
}

::selection {
  background: rgba(178, 143, 206, 0.2);
  color: inherit;
  // text-shadow: 0.35px 0.15px 0.2px rgb(138, 43, 226, 0.32);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.1);
}
