html {
  overflow: hidden;
}

::selection {
  background: rgba(178, 143, 206, 0.2);
  color: inherit;
}

.post-card {
  @media screen and (max-width: 600px) {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -32px;
    border-radius: 0px !important;
  }
}
