@mdui-timing-fuction: cubic-bezier(0.4, 0, 0.2, 1);
@mdui-shadow-1: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);

.m- {
  // 禁用的链接
  &disabled-link {
    color: #ccc;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    cursor: not-allowed;
  }

  // 标记
  &mark {
    background-color: #fff8c5;
    padding: 2px 4px;
    border-radius: 4px;
  }

  // Spoiler
  &spoiler {
    color: transparent;
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: color 250ms @mdui-timing-fuction, background-color 250ms @mdui-timing-fuction;
    &:hover {
      color: inherit;
      background-color: inherit;
    }
  }

  // 支持自定义纸片
  .__clip(@color) {
    font-size: 0.875em;
    max-width: 100%;
    height: 1em;
    white-space: nowrap;
    cursor: unset;
    padding: 2px 4px;
    border-radius: 4px;
    opacity: 0.9;
    &:before {
      font-weight: bold;
      // font-family: Consolas, monospace;
    }
    &[data-content]:after {
      font-size: 1.125em;
      content: " (" attr(data-content) ")";
      font-weight: normal;
    }
    transition: color 250ms @mdui-timing-fuction, background-color 250ms @mdui-timing-fuction,
      box-shadow 250ms @mdui-timing-fuction;
    background: white;
    color: @color;
    border: 1px solid @color;
    &:hover {
      background: @color;
      color: white;
      border: 1px solid @color;
      box-shadow: @mdui-shadow-1;
    }
  }
  &definition {
    .__clip(rgb(68, 115, 218));
    &:before {
      content: "Definition";
    }
  }
  &theorem {
    .__clip(rgb(62, 138, 0));
    &:before {
      content: "Theorem";
    }
  }
  &proposition {
    .__clip(rgb(0, 133, 143));
    &:before {
      content: "Proposition";
    }
  }
  &example {
    .__clip(rgb(132, 90, 231));
    &:before {
      content: "Example";
    }
  }
}
