.typography,
.MuiTypography-root {
  a {
    color: #19857b;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }

  img {
    max-width: 100%;
  }

  .math.math-display {
    max-width: 100%;
    // overflow-x: auto;
  }
}
